                * {
                    background-color: lightslategray;
                    font-size: 16px;
                    overflow: auto;
                    margin: 0%;
                    cursor: pointer;
                }
                
                h1 {
                    font-family: 'Bungee shade', 'cursive', 'serif';
                    font-size: 3.5em;
                    text-align: center;
                    margin-top: 0em;
                    color: black;
                }
                
                nav {
                    border-bottom: 1px black;
                    width: 95%;
                    margin: 0.2em;
                }
                
                .trail ol {
                    list-style-type: none;
                    padding-left: 0;
                    text-align: center;
                    margin: 0.2em;
                }
                
                .trail {
                    display: inline-block;
                    margin: 1em;
                    text-align: center;
                }
                
                .trail ol a {
                    font-size: 1.5em;
                    color: black;
                    font-weight: 1000;
                    text-decoration: underline;
                }
                
                .Aboutme {
                    font-family: 'Style Script', 'cursive', 'serif';
                    text-align: center;
                    font-size: 2.2rem;
                    font-weight: 900;
                }
                
                h2 {
                    font-size: 1.3em;
                    text-align: center;
                    color: black;
                }
                
                .grid {
                    display: grid;
                    width: 90%;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: auto;
                    border: 2.7rem solid rgb(32, 13, 1);
                    border-spacing: 1em;
                    border-top-left-radius: 14%;
                    border-top-right-radius: 14%;
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 2EM;
                }
                
                .top {
                    grid-area: 1/1/2/3;
                    font-family: 'Style Script', 'cursive', 'serif';
                    text-align: center;
                    font-size: 2.8rem;
                    font-weight: 1000;
                    border: 0.5em solid black;
                    color: black;
                }
                
                .one {
                    grid-area: 2/1/4/2;
                    display: flex;
                    border: 2em groove rgba(54, 24, 3);
                }
                
                .two {
                    grid-area: 4/2/5/3;
                    display: flex;
                    border: 2em groove rgba(54, 24, 3);
                }
                
                .three {
                    display: flex;
                    grid-area: 5/1/6/2;
                    border: 2em groove rgba(54, 24, 3);
                }
                
                .four {
                    grid-area: 2/2/4/3;
                    background-color: antiquewhite;
                    border: 2em groove rgba(54, 24, 3);
                    text-align: center;
                }
                
                .five {
                    grid-area: 4/1/5/2;
                    display: block;
                    background-color: antiquewhite;
                    border: 2em groove rgba(54, 24, 3);
                    text-align: center;
                }
                
                .six {
                    grid-area: 5/2/6/3;
                    display: block;
                    background-color: antiquewhite;
                    border: 2em groove rgba(54, 24, 3);
                    text-align: center;
                }
                
                .four p,
                .five p,
                .six p {
                    font-size: 1.6rem;
                    font-weight: 1000;
                    background-color: antiquewhite;
                    text-align: center;
                    line-height: 2em;
                }
                
                .four a,
                .five a,
                .six a {
                    font-size: 1.5rem;
                    background-color: antiquewhite;
                    color: red;
                    text-decoration: underline;
                }
                
                .grid2 {
                    display: grid;
                    grid-template-columns: 50% 25% 13%;
                    grid-template-rows: auto;
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 3em;
                    width: 98%;
                }
                
                .grid2 p {
                    grid-area: 2/1/3/4;
                    margin-top: 3em;
                    font-size: 2em;
                    text-align: center;
                    font-weight: bolder;
                }
                
                .copy {
                    grid-area: 5/1/6/2;
                    margin-top: 4em;
                    text-align: left;
                }
                
                .copy p {
                    text-align: left;
                    margin-bottom: 4em;
                    margin-top: 0;
                }
                
                .git {
                    text-align: center;
                    grid-area: 3/2/4/3;
                    margin-top: 1.8em;
                }
                
                .git a {
                    font-size: 1.6em;
                    color: rgb(62, 4, 70);
                    font-weight: bolder;
                }
                
                .email {
                    grid-area: 3/1/4/2;
                    margin-top: 3em;
                    width: 100%;
                    font-size: medium;
                    text-align: center;
                }
                
                h5 {
                    text-align: center;
                    font-size: 1em;
                }
                
                h4 {
                    margin-top: 3em;
                    text-align: end;
                    grid-area: 5 /2/6/3;
                    margin-bottom: 0em;
                    color: black
                }
                
                h3 {
                    grid-area: 1/1/2/4;
                    text-align: center;
                    font-size: 1.5em;
                    color: black
                }
                
                a:hover,
                a:active {
                    background-color: yellow;
                    border: 0.2em solid blue;
                    text-align: center;
                    flex-flow: row;
                }
                
                .four:hover,
                .five:hover,
                .six:hover {
                    text-align: center;
                    transform: scale(1);
                    text-transform: full-width;
                    line-height: 1em;
                }
                
                @media ( max-width: 643px) {
                    * {
                        font-size: 1em;
                        overflow: auto;
                        font-family: 'sans-serif'!important;
                    }
                    .trail {
                        visibility: hidden;
                        display: none;
                    }
                    .top {
                        border: 2px solid black;
                    }
                    h1 {
                        font-size: 2em;
                    }
                    .grid {
                        display: flex;
                        flex-direction: column;
                        grid-template-columns: 80%;
                        border-radius: 0%;
                        border: 1px solid black
                    }
                    .one,
                    .two,
                    .three {
                        visibility: hidden;
                        display: none;
                    }
                    .four {
                        grid-area: 2/1/4/4;
                    }
                    .six {
                        grid-area: 5/1/6/4;
                    }
                    .four:hover,
                    .five:hover,
                    .six:hover {
                        transform: none;
                        text-transform: none;
                    }
                    .fa-3x {
                        display: none;
                    }
                    .email {
                        font-size: 1em;
                    }
                }